<header class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <a href="/" id="logo"></a>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <nav>
            <ul class="">
                <li role="presentation"><a href="/">About</a></li>
                <li role="presentation"><a href="#research">Research</a></li>
                <li role="presentation"><a href="#publications">Publications</a></li>
                <li role="presentation"><a href="#links">links</a></li>
                <li role="presentation"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>