<div class="navigation" >
  <div class="row links">
    <div class="col-md-offset-1 col-md-10">
      <div class="col-sm-3 col-xs-12">
        <a href="#research" data-load-json='true' class="circular inner-link">
          <img class="img-responsive hidden-xs" src="assets/images/research.jpeg">
          <h3>Research</h3>
        </a>
      </div>
      <div class="col-sm-3 col-xs-12">
        <a href="#publications" data-load-json='true' class="circular inner-link">
          <img class="img-responsive hidden-xs" src="assets/images/publications.png">
          <h3>Publications</h3>
        </a>
      </div>
      <div class="col-sm-3 col-xs-12">
        <a href="#links" data-load-json='true' class="circular inner-link">
          <img class="img-responsive hidden-xs" src="assets/images/github.png">
          <h3>Links</h3>
        </a>
      </div>
      <div class="col-sm-3 col-xs-12">
        <a href="#contact" data-load-json='false' class="circular inner-link">
          <img class="img-responsive hidden-xs" src="assets/images/contact.jpg">
          <h3>Contact</h3>
        </a>
      </div>
    </div>
  </div>
</div>