<hr>
<div class="content" id="target">
  <h3>About me</h3>
  <div class="col-sm-8">
    <p>Hello, my name is Frank Blaauw. Since 2013 I work as a PhD Student on a project for the University of Groningen (RUG) and the University Medical Center Groningen (UMCG)</p>
    <p>I am currently involved in two projects: the <em>Leefplezier</em> project (funded by caregroup Espria) and <em>HoeGekIsNL</em>.</p>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My location 
          <button ng-click="location_of_day(-1)" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span></button>
          {{ date | date:'dd, MMM'}}
          <button ng-click="location_of_day(1)" class="btn btn-link"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </h3>
      </div>
      <div class="panel-body">
        You can find me at the {{current_location || 'Unknown'}}
      </div>
    </div>
  </div>
</div>