/* fullscreen setup */
html, body {
    /* any div up to fullscreen-cont must have this
    in this case html and body */
    height:100%;
    min-height:100%;
}

h1 {
    text-transform: uppercase;
    font-size: 200%;
}

h3 {
    text-transform: uppercase;
    font-size: 125%;
}

header nav {
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-top:40px;
}

header nav>ul>li>a {
    text-align: center;
    vertical-align: middle;
    color: #444;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: bold;
}

header nav>ul>li>a:hover {
    color: #93aa9e;
    text-decoration:none;
}

#hero-image {
    vertical-align: middle;
    text-align: center;

    padding-top: 1px;
    background: url('../images/mbp.jpg') no-repeat center;
    border-radius: 3px;
    height:300px;
    background-size: 100%;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 82px;
    background: url('../images/logo_frbl.svg');
    background-size: 100px 82px;

}

#hero-content {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    max-width: 400px;
    height: 200px;
    vertical-align: middle;
}

#hero-content h2 {
    color: #ffffff;
}

#features {
    text-align: center;
    padding:20px;
}

#features .icon {
    font-size:70px;
    text-align: center;
    vertical-align: middle;
    padding:20px;
    border-radius: 1000px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;

    border: 3px solid #333;
}

article h1, article h2, article h3 {
    border-bottom: 1px solid #d19342;
}

article h1 {
    display: block;
    margin: 20px auto 20px auto;
    padding: 10px;
    width:300px;
    text-align: center;
}

article h3 {
    display: block;
    margin: 20px auto 15px auto;
    padding-bottom: 10px;
    width:100%;
}

#primary-content {
    text-align:center;
    margin-bottom:40px;
}

footer {
    font-size:70%;
    color: #333;
    margin-top:30px;
    padding-top:20px;
    background-color: #d1cac1;
}

.secondary-content {
    padding-top:10px
}

.secondary-article-content {
    text-align:center;
}
.secondary-article-content p{
    text-align:center;
    font-style: oblique;
}


.btn.btn-default{
    background-color:white;
    border-color:#78a3bc;
    color:#78a3bc;

}
.btn.btn-default:hover{
    border-color:#78a3bc;
    background-color:#78a3bc;
    color:#ffffff;

}



.links a, .links a:hover {
  color:white;
  text-decoration:none;
}
